<body>
<section class="wrapper">
  <div class="container">
  
  <div class="row">
  <!--la premiere card -->
 <div class="col"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.pexels.com/photos/3862365/pexels-photo-3862365.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Administrator Field</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Administrator</a></h4>
           <small><i class="far fa-clock"></i> </small>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h6 class="my-0 text-white d-block"></h6>
     <small>Administrateur</small>
  </div>
</div>
          </div>
        </div>
      </div></div>

     <div class="col"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.pexels.com/photos/5324968/pexels-photo-5324968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Methodist Field</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Methodist</a></h4>
           <small><i class="far fa-clock"></i> </small>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h6 class="my-0 text-white d-block"></h6>
     <small>Methodiste</small>
  </div>
</div>
          </div>
        </div>
      </div></div>






 <div class="col"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.pexels.com/photos/3861445/pexels-photo-3861445.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Operator Field</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Operator</a></h4>
           <small><i class="far fa-clock"></i> </small>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h6 class="my-0 text-white d-block"></h6>
     <small>Operateur</small>
  </div>
</div>
          </div>
        </div>
      </div></div>





  <div class="col"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.pexels.com/photos/5474282/pexels-photo-5474282.jpeg?cs=srgb&dl=pexels-cottonbro-5474282.jpg&fm=jpg');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Validator  Field</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Validator and Productor</a></h4>
           <small><i class="far fa-clock"></i> </small>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h6 class="my-0 text-white d-block"></h6>
     <small>Validateur</small>
  </div>
</div>
          </div>
        </div>
      </div></div>








 

  
</div>
</div>


</section>
</body>