
 <div class="container">
     <svg viewBox="0 0 500 500" 
         preserveAspectRatio="xMinYMin meet"
         style="z-index: -2;">
           
         <path d="M0, 100 C150, 200 350,
             0 500, 100 L500, 00 L0, 0 Z"
             style="stroke: none; 
             fill:rgba(30, 144, 225, 0.5);">
         </path>
     </svg>
 </div>
   
 <div class="container">
     <svg viewBox="0 0 500 500" 
         preserveAspectRatio="xMinYMin meet"
         style="z-index:-1;">
           
         <path d="M0, 80 C300, 0 400, 
             300 500, 50 L500, 00 L0, 0 Z"
             style="stroke: none; 
             fill:rgba(153, 50, 204, 0.5);">
         </path>
     </svg>
 </div>
 <div class="container">
     <svg viewBox="0 0 500 500" 
         preserveAspectRatio="xMinYMin meet"
         style="z-index:-3;">
           
         <path d="M0, 100 C150, 300 350,
             0 500, 100 L500, 00 L0, 0 Z"
             style="stroke: none; 
             fill:rgba(220, 20, 60, 0.5);">
         </path>
     </svg>
 </div>
<div class="container">
    <div class="row">
         
         <div >
              <div class="sidenav"  id="mySidenav">
                   <a  id="add" routerLink="/addStage" data-toggle="tooltip" data-placement="bottom" title="Ajouter formateur">
                        add
                   </a>
                   <a id="home" routerLink="/dashboard">
                      home
                   </a>
              </div>
              
               
         </div>
         <div class="col-10 align-self-center" >
         <h2 id="titre" class="align-self-center">Les Stages</h2>
         <table class="table table-light table-striped table-hover">
              
              <thead>
                   <tr>
                     
                     <th scope="col">Titre</th>
                     <th scope="col">Date de debut</th>
                     <th scope="col">Date de fin</th>
                     <th scope="col">Domaine</th>
                   </tr>
              </thead>
              <tbody class="stages">
                   <tr *ngFor="let stg of stages">
                        <td><a id="nom" routerLink="/detailformateur/{{stg.id_stage}}">{{stg.titre}} </a></td>
                        <td> {{stg.date_debut}}</td>
                        <td>{{stg.date_fin}}</td>
                        <td>{{stg.domaine}}</td> 
                        <td> <a routerLink='/editStage/{{stg.id_stage}}'> Edit</a></td>
                        <td><a (click)="delete(stg)">Delete</a></td>
                      </tr> 
              </tbody>
         </table>
         </div>

         
    </div>
</div>
  
  
